.upper-bar{
    background-color:gray;
    height: 7%;
    width: 100%;

    display: flex;         /* Flexbox 레이아웃을 활성화 */
    flex-direction: row; /* 자식 요소들을 수직 방향으로 정렬 */
    justify-content: space-between;  /* 저스티파이 컨텐트. 주축 정렬 방법 지정 */
    align-items: center;
}

.back{
   
    width: 10%;
}

.status{
    background-color: gray;
    border: 1px solid black;
    width: 50%;
    margin-left: 10%;
    text-overflow: ellipsis;
}

.upper-bar-button{
    background-color: gray;
    border: 1px solid black;
    width: 20%;
}

nav > div {
    /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
    text-align: center;
    float: left;
    width: 25%;        
    line-height: 45px;
  }